
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    width:auto;
  }
  
  .center {
    width: 500px;
    margin: auto;
    height: 500px;
  }
  html {
    box-sizing: border-box;
    align-items: center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: center;
    width: 378px;
    margin: 0 auto;
    align-items: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.271);
    margin: 10px;
    align-self: center;
    align-content: center;
    align-items: center;
  }

  .container {
    padding: 0 16px;
    align-self: center;
    align-content: center;
    align-items: center;
    max-width: 960px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
     align-items: center;
  }
  
  .title {
    color: rgb(111, 111, 111);
  }

  hr.dashed {
    border-top: 2px dashed #d1d0d0;
  }
  
  .bullet1 {
    color: rgb(216, 122, 86);
  }
  
  .bullet2 {
    color: rgb(158, 97, 53);
    text-align: start;
  }

  .silly {
    color:#bfbcbc;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
